<% if user_signed_in? %>
<div class="form-wrapper">
<%= @user.username %><% if User.find_by_username(params[:id]).admin? %> ADMIN <% end %>
<% if current_user.admin? || current_user == User.find_by_username(params[:id]) %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %> 
  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>
    <div class="form-group text-center">
      <%= f.button :submit, "Update", class: 'btn-success' %>
    </div>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <% end %>
  <% end %>
</div>
      <div class="container">
          <div id="main-back" style="justify-content:center;align-items:center;margin-top: 65px;"> 
            <% @tales.each do |tale| %>
              <div id="dbFront">
                <div id="content">
                  <p><%= tale.content %></p>
                </div>
                <div id="dream_info">
                  <div id="dr1" style="float: right;">
                    <p>Submitted <%= time_ago_in_words(tale.created_at) %> ago by <%= tale.user.username %></p>
                  </div>
                  <div id="dr1" style="float: left;">
                    <%= link_to 'comments', tale %>
                    <% if tale.user == current_user || current_user.admin? %>
                      <%= link_to 'edit', edit_tale_path(tale) %>
                      <%= link_to 'delete', @tale, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
<% end %>
