<% if @user.blank? %>
<div class="container">
   <div id="main-back" style="justify-content:center;align-items:center;margin-top: 65px;">
      <div class="post-wrapper">
         <div id="content">
            <p>User not found</p>
         </div>
      </div>
   </div>
</div>
<% else %>
<div class="container">
   <div id="main-back" style="justify-content:center;align-items:center;margin-top: 65px;">
      <div class="post-wrapper">
         <div id="content">
            <p>
               <%= @user.username %> #<%= @user.id %><% if User.find_by_username(params[:id]).owner? %> OWNER   
               <% elsif User.find_by_username(params[:id]).admin? %> ADMIN <% end %>
               <% if current_user && current_user == User.find_by_username(params[:id]).owner? %> 
               <%= link_to "Edit Profile", edit_user_path %>
               <% elsif current_user && current_user == User.find_by_username(params[:id]) %>
               <%= link_to "Settings",  edit_user_registration_path %>
               <%= link_to "Edit Profile", edit_user_path %>
               <% end %>
            </p>
         </div>
      </div>
      <% if current_user && current_user == User.find_by_username(params[:id]) %>
      <div class="post-wrapper">
         <div id="content">
            <%= simple_form_for @tale, html: { class: 'form-horizontal', multipart: true } do |f| %>
         <div class="form-group text-center">
            <%= f.input :content %>
         </div>
         <div class="form-group text-center">
            <%= f.button :submit, class: 'btn-success' %>
         </div>
            <% end %>
         </div>
      </div>
      <% end %>
      <% @tales.each do |tale| %>
      <div class="post-wrapper">
         <div id="content">
            <p><%= tale.content %></p>
            <div id="dream_info">
               <div id="dr1" style="float: right;">
                  <p><%= link_to tale.user.username, user_path(tale.user.username) %> <%= time_ago_in_words(tale.created_at) %> ago</p>
               </div>
               <div id="dr1" style="float: left;">
                  <p><%= link_to 'comments', tale %>
                     <% if current_user && tale.user == current_user || current_user && current_user.admin? %>
                     <%= link_to 'edit', edit_tale_path(tale) %>
                     <%= link_to 'delete', @tale, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>
<% end %>