<div class="container">
<div id="main-back" style="margin-top: 60px"> <!-- just temporary... !-->
<div class="form-wrapper">
<div id="content">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>
    <div class="form-group text-center">
    <h2>Log in to FableAPP</h2>
              <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'Username', input_html: { class: 'input-lg' } %>
              <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'input-lg' } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %><%= link_to "Forgot your password?", new_password_path(resource_name) %>
              <%= f.button :submit, "Log in", class: 'btn-lg btn-info btn-info' %>
              <% end %>
              <%= button_to "Don't own an account? Register", '/register', {:method => :get, :class=>"btn-lg btn-info"} %>
              </div>
</div>
</div>
</div>
</div>

